pre {
    overflow-x: auto;
    padding: 1rem 0;
    border-radius: .5em;
    border: 4px solid hsl(var(--primary-foreground));

    max-width: 100%;
    overflow-x: auto;
    margin: 1rem 0;
    line-break: loose;
}

pre [data-line] {
    padding: 0 1rem;
}

code {
    padding: .25em .5em;
    border-radius: .5em;
}

@media (max-width: 768px) {
    pre {
        white-space: pre-line;
    }
}