pre {
    overflow-x: auto;
    padding: 1rem 0;
    border-radius: 1em;
    /* border-bottom: 4px solid #9cdcfe; */

    overflow-x: auto;
    max-width: 88vw;
    /* margin: 0 20em; */
    /* line-break: loose; */
}

pre [data-line] {
    padding: 0 1rem;
}

code {
    padding: .15em .5em;
    border-radius: .5em;
    background-color: #1e1e1e;
    color: #9cdcfe;
}

pre > code {
    background-color: transparent;
}
/* 
@media (max-width: 768px) {
    pre {
        white-space: pre-line;
    }
} */