.scrolling-text::after, .scrolling-text::before {
    content: "";
    position: absolute;
    top: 0;
    width: 1.5em;
    height: 2em;
    background: linear-gradient(90deg, transparent 0%, hsl(var(--primary-foreground)) 100%);
    z-index: 10;
}

.scrolling-text::before {
    left: -1.5em;
}

.scrolling-text::after {
    right: 0;
}

.shadowed-text::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px;
  background: linear-gradient(90deg, transparent 0%, hsl(var(--primary-foreground)) 65%);
  width: 2.5em;
  height: 6em;
}